trunk/wcftest/Client/Service References/ServiceReference1/metadata1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Listen.Fly" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Listen.Fly" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Listen.Fly/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:8111/wcfSendServer/metadata?xsd=xsd0" namespace="Listen.Fly" />
      <xsd:import schemaLocation="http://127.0.0.1:8111/wcfSendServer/metadata?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:8111/wcfSendServer/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="wcfSendServer_UdpSendData_InputMessage">
    <wsdl:part name="parameters" element="tns:UdpSendData" />
  </wsdl:message>
  <wsdl:message name="wcfSendServer_UdpSendData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UdpSendDataResponse" />
  </wsdl:message>
  <wsdl:message name="wcfSendServer_UdpSendData2_InputMessage">
    <wsdl:part name="parameters" element="tns:UdpSendData2" />
  </wsdl:message>
  <wsdl:message name="wcfSendServer_UdpSendData2_OutputMessage">
    <wsdl:part name="parameters" element="tns:UdpSendData2Response" />
  </wsdl:message>
  <wsdl:message name="wcfSendServer_UdpSendData3_InputMessage">
    <wsdl:part name="parameters" element="tns:UdpSendData3" />
  </wsdl:message>
  <wsdl:message name="wcfSendServer_UdpSendData3_OutputMessage">
    <wsdl:part name="parameters" element="tns:UdpSendData3Response" />
  </wsdl:message>
  <wsdl:message name="wcfSendServer_UdpSendData4_InputMessage">
    <wsdl:part name="parameters" element="tns:UdpSendData4" />
  </wsdl:message>
  <wsdl:message name="wcfSendServer_UdpSendData4_OutputMessage">
    <wsdl:part name="parameters" element="tns:UdpSendData4Response" />
  </wsdl:message>
  <wsdl:portType name="wcfSendServer">
    <wsdl:operation name="UdpSendData">
      <wsdl:input wsaw:Action="Listen.Fly/wcfSendServer/UdpSendData" message="tns:wcfSendServer_UdpSendData_InputMessage" />
      <wsdl:output wsaw:Action="Listen.Fly/wcfSendServer/UdpSendDataResponse" message="tns:wcfSendServer_UdpSendData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UdpSendData2">
      <wsdl:input wsaw:Action="Listen.Fly/wcfSendServer/UdpSendData2" message="tns:wcfSendServer_UdpSendData2_InputMessage" />
      <wsdl:output wsaw:Action="Listen.Fly/wcfSendServer/UdpSendData2Response" message="tns:wcfSendServer_UdpSendData2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UdpSendData3">
      <wsdl:input wsaw:Action="Listen.Fly/wcfSendServer/UdpSendData3" message="tns:wcfSendServer_UdpSendData3_InputMessage" />
      <wsdl:output wsaw:Action="Listen.Fly/wcfSendServer/UdpSendData3Response" message="tns:wcfSendServer_UdpSendData3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UdpSendData4">
      <wsdl:input wsaw:Action="Listen.Fly/wcfSendServer/UdpSendData4" message="tns:wcfSendServer_UdpSendData4_InputMessage" />
      <wsdl:output wsaw:Action="Listen.Fly/wcfSendServer/UdpSendData4Response" message="tns:wcfSendServer_UdpSendData4_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>